thead , h1
{
    background-color: yellow;
}
#pagename
{
    color: gray;
}
*.cheader
{
    color: purple;
    
}
*.rheader
{
    color: blue;
}
a
{
    font-size: 12pt;
}
p::first-letter
{
    font-size: 18pt;
}
table a
{
    font-size: 6pt;
}
th:hover
{
    color: black;
}
:visited
{
    color:black;
}
th + td
{
    font-family:Aral;
}
thead th
{
    border: 4px solid black;
}
